# WORKAROUND for https://github.com/usmqe/usmqe-tests/issues/227
# pytest == 4.0.2
# WORKAROUND for https://gitlab.com/mbukatov/pytest-ansible-playbook/issues/6#note_133366849
pytest == 3.10.1
pytest-ansible-playbook
plumbum
requests
mrglog
ansible

# we have to use selenium compatible with firefox packaged in RHEL/CentOS 7
# see https://stackoverflow.com/questions/40048940
# see also: https://www.python.org/dev/peps/pep-0440/#version-specifiers
selenium == 2.53.6
